.logo {
  width: 110px;
  height: 80px;
  border-radius: 2em;
  margin-right: 3em;
}

.linkCatalogo {
  color: #fff !important ;
}

#dashboard {
  border-radius: 10%;
}

.img-limitada {
  border-radius: 50%;
  max-width: 30px;
}

.form {
  padding-top: 50px;
  width: 65%;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 25px;
  text-align: left;
  justify-content: center;
}

.content-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12rem;
}

/* ===RESPONSIVE DEL SIDEBAR==== */
@media (max-width: 768px) {
  /* Cambios de estilo cuando la pantalla es más pequeña, por ejemplo, 
  en dispositivos móviles */
  .sidebar1 {
    width: 100%; /* Ocupar todo el ancho en pantallas pequeñas */
    position: static; /* Volver a la posición estática en pantallas pequeñas */
  }
  .main-container {
    margin-left: 0; /* Eliminar margen izquierdo en pantallas pequeñas */
  }
}

/* Animacion Imagen Perfil Dashs */
#rotate-scale-up-vertical {
  animation: rotate-scale-up-vertical 0.5s linear both;
}
@keyframes rotate-scale-up-vertical {
  0% {
    transform: scale(1) rotateY(0);
  }
  50% {
    transform: scale(2) rotateY(180deg);
  }
  100% {
    transform: scale(1) rotateY(360deg);
  }
}

.textoadm {
  padding: 25px;
  background-color: aliceblue;
  opacity: 0.8;
  border-radius: 20px;
}

.error {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
}

.fondo-personalizado {
  background-color: #000000;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: -8rem;
}

/* ================ BOTON DELETE================ */
.delete-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
}

.delete-svgIcon {
  width: 15px;
  transition-duration: 0.3s;
}

.delete-svgIcon path {
  fill: white;
}

.delete-button:hover {
  width: 90px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.delete-button:hover .delete-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.delete-button::before {
  display: none;
  content: "Eliminar";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.delete-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
/* ================ END BOTON DELETE================ */
